<!DOCTYPE html>
<html>
<head>
<body>
<h1>Add a Bug</h1>

<form id="bug_form" method =="post" action="viewer/add_bug">

{% csrf_token %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field.label }}
    {{ field }}
{% endfor %}

<input type="submit" name="submit" value="Create Bug">
</form>
</body>
</head>
</html>